/*============
    COLORS
=============*/

// PRIMARY
$primary1: #F4B73D; // PLF Yellow
$primary2: #14253A; // PLF Dark Blue

// SECONDARY
$secondary1: #FFFFFF; // White

// BACKGROUND
$background1: #FEFEFE; // Main white

/*================
    BREAKPOINTS
=================*/

$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;