/*============
    COLORS
=============*/

// PRIMARY
$primary1: #F4B73D; // PLF Yellow
$primary2: #0E1927; // PLF Dark Blue

// SECONDARY
$secondary1: #FFFFFF; // White
$secondary2: #738fb5; // Light Blue

// BACKGROUND
$background1: #FEFEFE; // Main white

/*================
    BREAKPOINTS
=================*/

$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;