@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.featured {
    padding: 1rem;
    background-color: $primary1;
    margin: auto;

    @include tablet {
        padding: 1rem 2rem;
        max-width: 80rem;
    }

    &__container {

        @include tablet {
            padding: 1rem;
            @include display (column, center, nowrap);

            &--left {
                width: 55%;
            }

            &--right {
                padding-left: 2rem;
                width: 100%;
            }
        }
    }

    &__divider {
        width: 10rem;
        padding-top: 1rem;

        @include tablet {
            width: 70%;
            padding: 1.25rem 0 0;
        }

        &-container {
            @include display (row, center, nowrap);
        }
    }

    &__heading {
        @include display (row, space-between, nowrap);
        align-items: center;
        padding-bottom: 0.5rem;
    }

    &__info {
        text-align: end;
    }

    &__image {
        width: 100%;
        margin-bottom: 0.5rem;
    }

    &__party {
        font-size: 0.875rem;
        padding: 0.25rem 0.5rem 0 0;
    }

    &__policies {

        &-header {
            font-size: 1.25rem;
            font-weight: 600;
        }
    }

    &__ranking {
        @include display (row, flex-start, nowrap);
        align-items: center;
        gap: 0.25rem;

        &-header {
            font-size: 2rem;
            font-weight: 600;
        }

        &-number {
            @extend .featured__ranking-header;
            padding-bottom: 0.25rem;
        }
    }

    &__total-score {
        font-size: 1.25rem;
        font-weight: 600;
        padding-top: 0.5rem;
        text-align: end;
        border-top: 1px solid $primary2;
        margin-top: 0.75rem;

        @include tablet {
            font-size: 1.75rem;
            padding: 1rem;
        }
    }

    &__wrapper {
        @include tablet {
            @include display (row, space-between, nowrap);

        }
    }
}