@use './styles/partials/variables' as *;
@use './styles/partials/typography' as *;
@use './styles/partials/mixins' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $primary2;
    font-family: Roboto, sans-serif;
    @include typography-mobile;

    @include tablet {
        @include typography-tab-desktop;
    }
}

.presidents {
    background-color: $background1;
    margin: auto;

    @include tablet {
        max-width: 80rem;
        padding-bottom: 6rem;
    }

    &__title {
        padding: 2.5rem 0.5rem;
        font-weight: 900;
        text-align: center;
        background-color: $background1;

        @include tablet {
            padding: 4rem;
        }

        &--secondary {
            color: $primary1;
        }
    }
}

#root {
    background-color: $background1;
}